---
layout: default
---

<!-- Home Slider and Big news blocks -->
<div class="container">
   <div class="main-news-blks">
      <div class="hm-slider-cont">
         <!-- News slider -->
         <div class="flex-container">
            <div class="flexslider hm-slider">
               <ul class="slides">
                  {% for page in paginator.posts %}
                  {% if page.indexed != false and page.categories contains 'dev' %}
                  <li>
                     <img alt="" src="img/samples/sample.jpg" />
                     <h3 class="cat-label cat-label1"><a href="#">DEV</a></h3>
                     <div class="hm-sldr-caption">
                        <h3>
                          <a href="{{ page.url }}">{{ page.title }}<span class="topic-icn">17</span></a>
                        </h3>
                        <p>{{ page.excerpt }}</p>
                     </div>
                  </li>
                  {% endif %}
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      <!-- Fixed Blocks -->
      <div class="mid-blks-cont">
         <!-- Block1 -->
         <div class="mid-block-1 boxgrid caption">
            <img alt="" src="img/samples/sample1.jpg"/>
            <h4 class="cat-label cat-label2"><a href="#">GAMES</a></h4>
            <div class="cover boxcaption">
               <h3><a href="#single.html">Need for Speed Rivals is still a growing community</a><span class="topic-icn">81</span></h3>
               <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl.</p>
               <a href="#">MORE <i class="fa fa-angle-double-right"></i></a>
            </div>
         </div>
         <!-- Block2 -->
         <div class="mid-block-2 boxgrid caption">
            <img alt="" src="img/samples/sample3.jpg"/>
            <h4 class="cat-label cat-label3"><a href="#">TOURISM</a></h4>
            <div class="cover boxcaption">
               <h3><a href="#single.html">Best places to see weekly with your whole family</a><span class="topic-icn">36</span></h3>
               <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl.</p>
               <a href="#">MORE <i class="fa fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
      <!-- Block3 -->
      <div class="rt-bk-cont">
         <div class="rt-block boxgrid2 caption">
            <img alt="" src="img/samples/sample2.jpg"/>
            <h4 class="cat-label cat-label4"><a href="#">MUSIC</a></h4>
            <div class="cover boxcaption2">
               <h3><a href="#single.html">Diana Krall - Jazz female vocalist going for a big wedding</a><span class="topic-icn">98</span></h3>
               <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl.</p>
               <a href="#">MORE <i class="fa fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Main Left side -->
<div class="main-left-side">
  <!-- Single Category News Blocks -->
  <div class="news-sec-1 float-width">
     <div class="float-width sec-cont2">
        <h3 class="sec-title">MUSIC NEWS</h3>
        <div class="sec-1-big float-width">
           <img alt="" class="blocky" src="img/samples/z1.jpg" />
           <div class="sec-1-big-text lefty">
              <h3>Famous artist share his tracks for free</h3>
              <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
              <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
           </div>
        </div>
        <div class="sec-1-big float-width">
           <img alt="" class="blocky" src="img/samples/z8.jpg" />
           <div class="sec-1-big-text lefty">
              <h3>Girl as a DJ on 2014 stage tour</h3>
              <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
              <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
           </div>
        </div>
        <div class="sec-1-big float-width">
           <img alt="" class="blocky" src="img/samples/z9.jpg" />
           <div class="sec-1-big-text lefty">
              <h3>Dont forget to hit play before listening</h3>
              <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
              <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
           </div>
        </div>
        <div class="sec-1-big float-width">
           <img alt="" class="blocky" src="img/samples/z6.jpg" />
           <div class="sec-1-big-text lefty">
              <h3>Everyone just can be a DJ, right?</h3>
              <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
              <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
           </div>
        </div>
        <div class="sec-1-big float-width">
           <img alt="" class="blocky" src="img/samples/z7.jpg" />
           <div class="sec-1-big-text lefty">
              <h3>Female vocalist created great concert</h3>
              <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
              <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
           </div>
        </div>
     </div>
     <div class="cat-pagintn float-width">
        <ul>
           <li><a class="crnt-pg">1</a></li>
           <li><a href="#">2</a></li>
           <li><a href="#">3</a></li>
           <li><a href="#">4</a></li>
           <li><a href="#">5</a></li>
           <li><a href="#">6</a></li>
           <li><a href="#">7</a></li>
           <li><a href="#">...</a></li>
           <li><a href="#">22</a></li>
        </ul>
     </div>
  </div>
</div>

<!-- Main Right side -->
<div class="main-right-side">
  {% include right-hand-side.html %}
</div>
