<div class="main-footers">
   <div class="container">
      <div class="info-ftr float-width">
        <p class="copyright">
          Copyright Middle-Endian 2015.
        </p>
        <p>
          This is quite a serious tech blog, please share with your friends
          for thorough philisophical debating. No crazy shenanigans,
          we're keeping an eye on you.
        </p>
        <a href="#" title="Facebook"><img src="img/fb-ftr.png"></img></a> &nbsp;
        <a href="#" title="Twitter"><img src="img/tw-ftr.png"></img></a>
      </div>
   </div>
</div>
