<!-- Social Media Counter -->
<div class="smedia lefty">
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/fb.png" /><span>6423</span></a></div>
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/tw.png" /><span>12344</span></a></div>
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/gplus.png" /><span>1846</span></a></div>
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/drp.png" /><span>416</span></a></div>
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/flkr.png" /><span>91</span></a></div>
   <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="/img/ig.png" /><span>3487</span></a></div>
</div>

<!-- Ad banner right -->
<div class="lefty ad-rt">
   <a href="#"><img alt="" src="/img/samples/u1.jpg" /></a>
</div>

<!-- News letter subscription -->
<div class="subscribe lefty">
   <h3 class="sec-title">RSS Feed</h3>
   <h6>
     <a href="feed.xml">Click here</a> to subscribe to our RSS feed
     and never miss any article
   </h6>
</div>
